.dropdown_container {
  width: 300px;
  height: 400px;
  padding: 20px;
  position: absolute;
  top: 90px;
  right: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .dropdown_items {
    height: 299px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}