@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap');

body {
  background-color: whitesmoke;
  font-family: 'Asap Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}